table, td, th{
	/*border-collapse: collapse;*/
	border: 1px solid black;
}

td {
	padding: 0px 5px;
}

.txt_center{
	text-align: center;
}

.paging_row{
	display: inline-block;
	margin-right: 10px;
}

td input{
	background-color: white;
	border: none;
	text-align: center;
	text-overflow: ellipsis;
	cursor: default;
}

.id{
	display: none;
}

.hidden_data{
	display: none;
}

.mask{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	align-items: center;
}

.popup_window{
	margin: 0 auto;
	min-width: 500px;
	min-height: 300px;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	overflow: auto;
}

.txt_right{
	text-align: right;
}

.icon_btn{
	cursor: pointer;
	vertical-align: middle;
}

.container{
	display: flex;
	height: 450px;
}

.center_block{
	display: block;
	margin: 0 auto;
}

.mid_img{
	max-height: 200px;
	max-width: 500px;
}

.popup_window input, .filter input{
	margin: 5px;
}

.popup_window select, .filter select{
	margin: 5px 0px;
}

.popup_window .container{
	overflow: auto;
	height: 450px;
	width: 495px;
	margin: 0 auto;
}

ul{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding: 0;
}

.breadcrumbs{
	display: inline-flex;
	background-color: #b3ffff;
}

.breadcrumbs a{
	text-decoration: none;
	margin: 0 5px;
}

.filter .interest_box{
	display: none;
	width: 500px;
}

.interest_filter_des{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 300px;
}



