/* modify field style of bootstrap */
fieldset{
	border: 1px solid silver;
	padding: 20px;
}

legend{
	border: 0;
	width: inherit;
	margin: 0;
	text-align: center;
}
/* modify field style of bootstrap */

/* modify table style of bootstrap */
.table > tbody > tr > td{
	vertical-align: middle;
}

th, td{
	text-align: center;
}

td input{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	text-align: center;
	text-overflow: ellipsis;
	cursor: default;
}
/* modify table style of bootstrap */

.paging_row{
	display: inline-block;
}

.id{
	display: none;
}

.mask{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	align-items: center;
	z-index: 1100;
}

.popup_window{
	margin: 0 auto;
	min-width: 500px;
	min-height: 300px;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	overflow: auto;
}

.icon_btn{
	cursor: pointer;
	line-height: 30px;
}

.popup_content{
	display: flex;
	height: 450px;
}

.mid_img{
	max-height: 200px;
	max-width: 500px;
}

.popup_window input, .filter input{
	margin: 5px;
}

.popup_window select, .filter select{
	margin: 5px 0px;
}

.popup_window .popup_content{
	overflow: auto;
	height: 450px;
	width: 495px;
	margin: 0 auto;
}

.interest_box ul{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding: 0;
}

.breadcrumbs{
	display: inline-flex;
	background-color: #b3ffff;
}

.breadcrumbs a{
	text-decoration: none;
	margin: 0 5px;
}

.filter{
	width: 600px;
}

.first_block{
	margin-top: 70px;
}



